/*Padrões*/
a{
    text-decoration: none;
    color: #3e3e3e;  
}

a:hover {
    color: #915630;
}

/*Header*/
.container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;

    padding: 24px 12%;
}

.container_logo{
    display: flex;
    
    justify-content: flex-start;
    align-items: center;
    width: 17%;
}

.container_itens {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    gap: 30px;

    font-weight: 400;
    font-size: 26px;
    font-family: Times New Roman;
      
}



@media screen and (max-width: 975px) {
    
    .container {
      padding: 20px 20px;
    }

    a{
        font-size: 20px;}

    

}