.container_principal{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    padding: 4% 10% 2% 10%; 
}

.container_textos_principais{
    padding: 5% 5% 0px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.personagem_principal{
    width: 375px;
    height: 475px;
    flex-shrink: 0;
}

.container_botao_principal{
   margin: 2%;
}


@media screen and (max-width: 1024px) {

    .personagem_principal{
        display: none;
    }
    
}