
/* Setor Principal */

/* Setor Servico */

/* Setor Localicacao */

/* Setor Vagas */

/* Responsividade */

/* Telas Pequenas */
@media screen and (max-width: 975px) {

    /* Padrões para responsividade */
    h1{
        font-size: 210%;
    }

    h2{
        font-size: 32px;
    }

    /* Setor Responsivo do Principal */
    .personagem_principal{
        display: none;
    }

    /* Setor Responsivo do Serviço */
    .imagem_servico{
        width: 50%;
        height: 50%;
    }
    .container_interativo_servico{
        flex-direction: column;
    }

    /* Setor Responsivo da Localicacao */
    
    .imagem_localicacao{
        width: 100%;
        height: 100%;
    }

    .container_mapa{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

     /* Setor Responsivo da Vagas */

    .personagem_baixo{
        display: none;
    }

    .container_textos_vagas{
        padding: 0% 0% 0px 0px;
        text-align: center;
    }

}

/* Telas UltraWide */
@media screen and (min-width: 2560px) {

    h2 { 
        width: 70%;
        font-size: 44px;
    }
    
}
