/*Container Father*/
.container_entry{
    /*Flex-Box Direction*/
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    
    /*Distance*/
    padding: 0% 10% 0% 10%;
}

/*Img Content*/
.img_entry_main{
    /*Size*/
    width: 375px;
    height: 475px;

    /*Distance*/
    padding: 0% 5% 0% 0%;
    margin: 0% 0% 0% 0%;

    /* */
    flex-shrink: 0;
}

/*Texts*/
.container_text_entry{
    /*Flex-Box Direction*/
    display: flex;
    flex-direction: column;
    align-items: center;

    /*Distance*/
    padding: 5% 5% 10% 10%;
}

.title_entry{
    /*Style*/
    font-size: 2.5rem;
    font-weight: 700;
    color: #000000;

    /*Alignment*/
    text-align: center;

    /*Distance*/
    margin:0% 0% 0% 0%;
}

.paragraph_entry{
    /*Style*/
    font-size: 1.5rem;
    font-weight: 400;
    color: #474747;

    /*Alignment*/
    text-align: center;
}


/* Button */
.container_button_entry{
   /*Distance*/
   padding: 7% 0% 0% 0%;
}

/*Responsiveness*/
@media screen and (max-width: 975px) {
    .img_entry_main{
        display: none;
    }

    .container_text_entry{
        padding: 5% 5% 10% 5%;
    }

    .title_entry{
        font-size: 2rem;
    }

    .paragraph_entry{
        font-size: 1.2rem;
    }

}