/** Containier Father **/
.container_map{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    gap: 10%;
    margin: 0% 17% 0% 17% ;
}

/** Img **/
.img_localization{
    width: 540px;
    height: 540px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);

}

/** Containier  **/
.container_texts_localization{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title_localization{
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 5%;
}

.paragrafh_txt_localization{
    font-size: 20px;
    margin-bottom: 5%;
}

.sub_paragrafh_localization{
    font-size: 20px;
    margin-bottom: 5%;
}

.container_button_localization{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 12%;
}