.container_jobs{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    padding: 5%; 

    margin: 0% 15% 0% 15%;
}

.img_jobs{
    flex-shrink: 0;

    width: 375px;
    height: 475px;
}

.container_texts_jobs{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0% 0% 0px 0px;
}

.paragrafh_jobs{
    margin: 3%;
    text-align: center;
}

.container_button_jobs{
    margin: 0%;
    padding: 5% 0% 0% 0%;
}

@media screen and (max-width: 968px) {
    .img_jobs{
        display: none;
    }
}