.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 166px;
    height: 10%;
    background-color: #ffffff;
    top: 0;
    left: 0;
    right: 0;
}

.container_itens {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 30px;
}

a {
    font-weight: 400;
    font-size: 28px;
    font-family: Times New Roman;
    color: #3e3e3e;
    text-decoration: none;
}

a:hover {
    color: #ff0000;
}

@media screen and (max-width: 975px) {
    .container {
      padding: 20px 20px;
    }

    a{
        font-size: 20px;}

}